<a href="https://colab.research.google.com/github/jcwill415/yfinance/blob/master/Budget.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import matplotlib.pyplot as plt

# read in file
df = pd.read_csv('cashflow.csv', index_col ='Date', 
parse_dates = True)
df.head()

            Amount          Category Transaction Type
Date
2021-03-01 -1000.0           housing          Expense
2021-03-02  -200.0         groceries          Expense
2021-03-03  -160.0     car_insurance          Expense
2021-03-04   -90.0        phone_bill          Expense
2021-03-05   -50.0  health_insurance          Expense

In [4]:
# Average spending per expense category
avg_spending_cat = df.groupby('Category').mean().sort_values(by='Amount')
print(avg_spending_cat)

                  Amount
Category
housing          -1000.0
debt              -500.0
groceries         -200.0
car_insurance     -160.0
clothing          -100.0
savings           -100.0
emergency_fund    -100.0
stocks            -100.0
phone_bill         -90.0
health_insurance   -50.0
gas                -50.0
night_out          -40.0
charity            -30.0
cc_membership      -20.0
gym_membership     -15.0
snacks             -15.0
netflix             -5.0
phone_apps          -5.0
dividends           30.0
cashflow_re        300.0
freelance         1500.0
work              3000.0

In [ ]:
# Sum Expense & Income 
sum_transactions = df.groupby('Transaction Type').sum().sort_values(by='Amount')
print(sum_transactions)

In [ ]:
# Calculate Savings (sum column "Amount" to add expenses vs income; positive = savings)
column_name = "Amount"
calc_savings = df[column_name].sum()
print(calc_savings)